POSTGRES_USER=<user>
POSTGRES_PASS=<password>
POSTGRES_DBNAME=<database>
HOST_IP_ADDRESS=<host_ip_address>
REACT_APP_HOST_IP_ADDRESS=<host_ip_address>
SERVER_PORT=<server_port>
POSTGRES_PORT=<postgres_port>
REACT_APP_PROJECTION_DEFAULT_LABEL=WGS84
REACT_APP_PROJECTION_DEFAULT_VALUE=4326
REACT_APP_PROJECTION_UTM_VALUE=-1
